#chart-136bf308-30ea-4814-9b1b-08fff9350b0f
{-webkit-user-select:none;-webkit-font-smoothing:antialiased;font-family:googlefont:Poppins}

#chart-136bf308-30ea-4814-9b1b-08fff9350b0f
.title{font-family:googlefont:Poppins;font-size:16px}

#chart-136bf308-30ea-4814-9b1b-08fff9350b0f
.legends
.legend
text{font-family:googlefont:Poppins;font-size:24px}

#chart-136bf308-30ea-4814-9b1b-08fff9350b0f
.axis text{font-family:googlefont:Poppins;
font-size:10px}

#chart-136bf308-30ea-4814-9b1b-08fff9350b0f
.axis text.major{
font-family:googlefont:Poppins;
font-size:10px}

#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .text-overlay text.value{font-family:googlefont:Poppins;font-size:16px}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .text-overlay text.label{font-family:googlefont:Poppins;font-size:10px}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip{font-family:googlefont:Poppins;font-size:14px}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f text.no_data{font-family:googlefont:Poppins;font-size:64px}\n
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f{background-color:#fdfefe}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f path,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f rect,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f circle{-webkit-transition:150ms;-moz-transition:150ms;transition:150ms}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .graph &gt; .background{fill:#fdfefe}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .plot &gt; .background{fill:#fdfefe}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .graph{fill:#fdfefe; fill-opacity=0.03}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f text.no_data{fill:#fdfefe}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .title{fill:#38262c}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .legends .legend text{fill:#38262c}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .legends .legend:hover text{fill:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .line{stroke:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .guide.line{stroke:rgba(0,0,0,.54)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .major.line{stroke:rgba(0,0,0,.87)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis text.major{fill:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y .guides:hover .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .line-graph .axis.x .guides:hover .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .stackedline-graph .axis.x .guides:hover .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .xy-graph .axis.x .guides:hover .guide.line{stroke:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .guides:hover text{fill:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .reactive{fill-opacity:.7;stroke-opacity:.8}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .ci{stroke:rgba(0,0,0,.87)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .reactive.active,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .active .reactive{fill-opacity:.8;stroke-opacity:.9;stroke-width:4}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .ci .reactive.active{stroke-width:1.5}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .series text{fill:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip rect{fill:#fdfefe;stroke:rgba(0,0,0,1);
-webkit-transition:opacity 150ms;
-moz-transition:opacity 150ms;
transition:opacity 150ms}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip .label{fill:rgba(0,0,0,.87)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip .label{fill:rgba(0,0,0,.87)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip .legend{font-size:.8em;fill:rgba(0,0,0,.54)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip .x_label{font-size:.6em;fill:rgba(0,0,0,1)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip .xlink{font-size:.5em;text-decoration:underline}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip .value{font-size:1.5em}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .bound{font-size:.5em}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .max-value{font-size:.75em;fill:rgba(0,0,0,.54)}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .map-element{fill:
 #fdfefe;stroke:rgba(0,0,0,.54) !important}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .map-element .reactive{fill-opacity:inherit;stroke-opacity:inherit}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-0,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-0 a:visited{stroke:
#563936;fill:
#563936}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-1,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-1 a:visited{stroke:
#8a5c57;fill:
#8a5c57}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-2,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-2 a:visited{stroke:
#b28884;fill:
#b28884}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-3,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .color-3 a:visited{stroke:
#d3bbb8;fill:
#d3bbb8}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .text-overlay .color-0 text{fill:black}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .text-overlay .color-1 text{fill:black}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .text-overlay .color-2 text{fill:black}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .text-overlay .color-3 text{fill:black}\n
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f text.no_data{text-anchor:middle}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .guide.line{fill:none}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .centered{text-anchor:middle}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .title{text-anchor:middle}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .legends .legend text{fill-opacity:1}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.x text{text-anchor:middle}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.x:not(.web) text[transform]{text-anchor:start}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.x:not(.web) text[transform].backwards{text-anchor:end}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y text{text-anchor:end}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y text[transform].backwards{text-anchor:start}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y2 text{text-anchor:start}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y2 text[transform].backwards{text-anchor:end}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .guide.line{stroke-dasharray:4,4}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .major.guide.line{stroke-dasharray:6,6}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .horizontal .axis.y .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .horizontal .axis.y2 .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .vertical .axis.x .guide.line{opacity:0}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .horizontal .axis.always_show .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .vertical .axis.always_show .guide.line{opacity:1 !important}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y .guides:hover .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.y2 .guides:hover .guide.line,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis.x .guides:hover .guide.line{opacity:1}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .axis .guides:hover text{opacity:1}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .nofill{fill:none}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .subtle-fill{fill-opacity:.2}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .dot{stroke-width:1px;fill-opacity:1}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .dot.active{stroke-width:5px}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .dot.negative{fill:transparent}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f text,
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f tspan{stroke:none !important}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .series text.active{opacity:1}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip rect{fill-opacity:.95;stroke-width:.5}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .tooltip text{fill-opacity:1}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .showable{visibility:hidden}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .showable.shown{visibility:visible}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .gauge-background{fill:rgba(229,229,229,1);stroke:none}
#chart-136bf308-30ea-4814-9b1b-08fff9350b0f .bg-lines{stroke:
 #fdfefe;stroke-width:2px}
