{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock style %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i></a>
            <a class="nav-link" href="{{ url_for('maps') }}">GFX</a>
            <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
            <a class="nav-link active" href="{{ url_for('agenda') }}">Agenda</a>
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<main role="main" class="inner cover">
    <h2 class="cover-heading m-3"><b>FREE July Summit</b></h2>
    <div class="btn-group">
        {% block day_nav %}
        <a class="btn btn-primary" href="{{ url_for('agenda_friday') }}">Fri</a>
        <a class="btn btn-primary" href="{{ url_for('agenda_saturday') }}">Sat</a>
        <a class="btn btn-primary" href="{{ url_for('agenda_sunday') }}">Sun</a>
        {% endblock day_nav %}
    </div>
    <div class="container mt-3" style="height: 300px; margin: 0px 0px 0px 0px;">
    {% block day_content %}
    <h3>Becoming FREE</h3>
    <p>
        Examining the past to determine how FREE moves forward <br/>with book discussion on <i>Becoming</i> by Michelle Obama</p>
<p><b>Facilitators: </b><br/>Arielle Hernandez and Stephanie Fuentes
    </p>
    {% endblock day_content %}
    </div>
  </main>
{% endblock content %}