{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock style %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('maps') }}">Map</a>
            <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
            <a class="nav-link active" href="{{ url_for('agenda') }}">Agenda</a>
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading"><b>AGENDA</b></h1>
    <p class="lead">
        Coming soon. <i class="em em-wink"></i>
    </p>
  </main>
{% endblock content %}