{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock style %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i></a>
            <a class="nav-link" href="{{ url_for('maps') }}">GFX</a>
            <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
            <a class="nav-link" href="{{ url_for('agenda') }}">Agenda</a>
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading"><b>Contact <i class="far fa-envelope"></i> </b></h1>
    <div class="container mt-3">
        <b>Samantha Norstedt</b> <br/> Co-President of F.R.E.E.
    </div>
    <div class="container mt-3">
        <b>Tatyana Ray</b> <br/> Co-President of F.R.E.E.
    </div>
    <div class="container mt-3">
        <b>Arielle Hernandez</b> <br/> Facilitator
    </div>
    <div class="container mt-3">
        <b>Stephanie Fuentes</b> <br/> Facilitator
    </div>
</main>
{% endblock content %}