<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_aeb90e696eca4af6b43f1ac72293e2f0 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>

    <div class="folium-map" id="map_aeb90e696eca4af6b43f1ac72293e2f0" ></div>
</body>

<script>


        var bounds = null;


    var map_aeb90e696eca4af6b43f1ac72293e2f0 = L.map(
        'map_aeb90e696eca4af6b43f1ac72293e2f0', {
        center: [-1.8312, -78.1834],
        zoom: 6,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });



    var tile_layer_0b7402f07bf94719aa709437439dbe05 = L.tileLayer(
        'https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);

        var marker_b2c7d7f96ba745fba16fde131811899a = L.marker(
            [-0.22985, -78.52495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_4ed7ce4cf3c74a4cb0dca82442be1dd9 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_b2c7d7f96ba745fba16fde131811899a.setIcon(custom_icon_4ed7ce4cf3c74a4cb0dca82442be1dd9);


            var popup_a62f342e00084a1ca465084f1f034b12 = L.popup({maxWidth: '100%'

            });


                var html_55819158c5d04a95a219573976c22591 = $(`<div id="html_55819158c5d04a95a219573976c22591" style="width: 100.0%; height: 100.0%;"><b>Samantha Nordstedt</b><p>Quito, Pichincha</p><i>Omni: 119</i></div>`)[0];
                popup_a62f342e00084a1ca465084f1f034b12.setContent(html_55819158c5d04a95a219573976c22591);


            marker_b2c7d7f96ba745fba16fde131811899a.bindPopup(popup_a62f342e00084a1ca465084f1f034b12)
            ;




        marker_b2c7d7f96ba745fba16fde131811899a.bindTooltip(
            `<div>`
            + `Samantha Nordstedt` + `</div>`,
            {"sticky": true}
        );


        var marker_b3225fc0bf284918aba6fb98cb84a657 = L.marker(
            [-1.85, -79.96667],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_b4720bd75a004d0c85fa0e009babca78 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_b3225fc0bf284918aba6fb98cb84a657.setIcon(custom_icon_b4720bd75a004d0c85fa0e009babca78);


            var popup_089c1725d6d347ce820fbf1b291c3b10 = L.popup({maxWidth: '100%'

            });


                var html_5475a9f7f7cd406f9138ef09aec6c6c3 = $(`<div id="html_5475a9f7f7cd406f9138ef09aec6c6c3" style="width: 100.0%; height: 100.0%;"><b>Jesse Cote</b><p>Daule, Guayas</p><i>Omni: 120</i></div>`)[0];
                popup_089c1725d6d347ce820fbf1b291c3b10.setContent(html_5475a9f7f7cd406f9138ef09aec6c6c3);


            marker_b3225fc0bf284918aba6fb98cb84a657.bindPopup(popup_089c1725d6d347ce820fbf1b291c3b10)
            ;




        marker_b3225fc0bf284918aba6fb98cb84a657.bindTooltip(
            `<div>`
            + `Jesse Cote` + `</div>`,
            {"sticky": true}
        );


        var marker_34787252708d477f8bcef7dec3b7c8f6 = L.marker(
            [-0.23065, -78.4484],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_3af09cd2025b4e7f939d2f509b51cc63 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_34787252708d477f8bcef7dec3b7c8f6.setIcon(custom_icon_3af09cd2025b4e7f939d2f509b51cc63);


            var popup_79ea5914f4b5422e9cfd7f9e2879de1f = L.popup({maxWidth: '100%'

            });


                var html_8817abc476e84e85be720e92729dc8e4 = $(`<div id="html_8817abc476e84e85be720e92729dc8e4" style="width: 100.0%; height: 100.0%;"><b>Meg Hunter</b><p>Lumbisí, Pichincha</p><i>Omni: 120</i></div>`)[0];
                popup_79ea5914f4b5422e9cfd7f9e2879de1f.setContent(html_8817abc476e84e85be720e92729dc8e4);


            marker_34787252708d477f8bcef7dec3b7c8f6.bindPopup(popup_79ea5914f4b5422e9cfd7f9e2879de1f)
            ;




        marker_34787252708d477f8bcef7dec3b7c8f6.bindTooltip(
            `<div>`
            + `Meg Hunter` + `</div>`,
            {"sticky": true}
        );


        var marker_73dd25df4974442ca394d4adbee4fab4 = L.marker(
            [-0.22985, -78.49495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_c798e24df467466bbb0bf8d600b87f61 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_73dd25df4974442ca394d4adbee4fab4.setIcon(custom_icon_c798e24df467466bbb0bf8d600b87f61);


            var popup_d781a529a2aa477dbe2e73a261bbacba = L.popup({maxWidth: '100%'

            });


                var html_fe812f1120b54f0ba01f6f1f4ab0c07b = $(`<div id="html_fe812f1120b54f0ba01f6f1f4ab0c07b" style="width: 100.0%; height: 100.0%;"><b>Alejandra Garcia</b><p>Quito, Pichincha</p><i>Omni: 118</i></div>`)[0];
                popup_d781a529a2aa477dbe2e73a261bbacba.setContent(html_fe812f1120b54f0ba01f6f1f4ab0c07b);


            marker_73dd25df4974442ca394d4adbee4fab4.bindPopup(popup_d781a529a2aa477dbe2e73a261bbacba)
            ;




        marker_73dd25df4974442ca394d4adbee4fab4.bindTooltip(
            `<div>`
            + `Alejandra Garcia` + `</div>`,
            {"sticky": true}
        );


        var marker_0a700cfae000466c9c4d0603d4813daa = L.marker(
            [-0.95759, -78.69636],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_b0945ca7665a49a5af676d6389a31223 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_0a700cfae000466c9c4d0603d4813daa.setIcon(custom_icon_b0945ca7665a49a5af676d6389a31223);


            var popup_8b9238f0871e45efb82e9dd51ae18e8d = L.popup({maxWidth: '100%'

            });


                var html_f8a4ef875941497da2b906c51bce1a0c = $(`<div id="html_f8a4ef875941497da2b906c51bce1a0c" style="width: 100.0%; height: 100.0%;"><b>Melissa Ortiz</b><p>Pujili, Cotopaxi</p><i>Omni: 119</i></div>`)[0];
                popup_8b9238f0871e45efb82e9dd51ae18e8d.setContent(html_f8a4ef875941497da2b906c51bce1a0c);


            marker_0a700cfae000466c9c4d0603d4813daa.bindPopup(popup_8b9238f0871e45efb82e9dd51ae18e8d)
            ;




        marker_0a700cfae000466c9c4d0603d4813daa.bindTooltip(
            `<div>`
            + `Melissa Ortiz` + `</div>`,
            {"sticky": true}
        );


        var marker_c0324e6a03e74ab998c75c30188a4bab = L.marker(
            [-3.25861, -79.96053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_ae76914dbb884f42af2668afabfa721d = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_c0324e6a03e74ab998c75c30188a4bab.setIcon(custom_icon_ae76914dbb884f42af2668afabfa721d);


            var popup_cc96afb1e9f8465b8fe531159dc8e6b2 = L.popup({maxWidth: '100%'

            });


                var html_32650768ab5d482c8e906cf33c022982 = $(`<div id="html_32650768ab5d482c8e906cf33c022982" style="width: 100.0%; height: 100.0%;"><b>Peter Amerkhanian</b><p>Machala, El Oro</p><i>Omni: 119</i></div>`)[0];
                popup_cc96afb1e9f8465b8fe531159dc8e6b2.setContent(html_32650768ab5d482c8e906cf33c022982);


            marker_c0324e6a03e74ab998c75c30188a4bab.bindPopup(popup_cc96afb1e9f8465b8fe531159dc8e6b2)
            ;




        marker_c0324e6a03e74ab998c75c30188a4bab.bindTooltip(
            `<div>`
            + `Peter Amerkhanian` + `</div>`,
            {"sticky": true}
        );


        var marker_e0f0f5c0990f49cc81d02ce82d29232c = L.marker(
            [-3.25861, -79.93053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_0468757646e145e4a7d8fa26b4989269 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_e0f0f5c0990f49cc81d02ce82d29232c.setIcon(custom_icon_0468757646e145e4a7d8fa26b4989269);


            var popup_7123799ba8d34157bdfbab2d5f1de9f3 = L.popup({maxWidth: '100%'

            });


                var html_2f2a6869f1f742fba50e9ebfe63c65b2 = $(`<div id="html_2f2a6869f1f742fba50e9ebfe63c65b2" style="width: 100.0%; height: 100.0%;"><b>Arielle Hernandez</b><p>Machala, El Oro</p><i>Omni: 119</i></div>`)[0];
                popup_7123799ba8d34157bdfbab2d5f1de9f3.setContent(html_2f2a6869f1f742fba50e9ebfe63c65b2);


            marker_e0f0f5c0990f49cc81d02ce82d29232c.bindPopup(popup_7123799ba8d34157bdfbab2d5f1de9f3)
            ;




        marker_e0f0f5c0990f49cc81d02ce82d29232c.bindTooltip(
            `<div>`
            + `Arielle Hernandez` + `</div>`,
            {"sticky": true}
        );


        var marker_d89e220fc1dd4bac85a05f9226cfe1dd = L.marker(
            [-0.25305, -79.17536],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_c03ec9f851d04db2bfb0cd29dd5ac695 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_d89e220fc1dd4bac85a05f9226cfe1dd.setIcon(custom_icon_c03ec9f851d04db2bfb0cd29dd5ac695);


            var popup_7c990cedb2ab4bb486d37842514726f0 = L.popup({maxWidth: '100%'

            });


                var html_5813548cda5742829b6c2ae44d712265 = $(`<div id="html_5813548cda5742829b6c2ae44d712265" style="width: 100.0%; height: 100.0%;"><b>Donald Blair</b><p>Santo Domingo, Santo Domingo</p><i>Omni: 121</i></div>`)[0];
                popup_7c990cedb2ab4bb486d37842514726f0.setContent(html_5813548cda5742829b6c2ae44d712265);


            marker_d89e220fc1dd4bac85a05f9226cfe1dd.bindPopup(popup_7c990cedb2ab4bb486d37842514726f0)
            ;




        marker_d89e220fc1dd4bac85a05f9226cfe1dd.bindTooltip(
            `<div>`
            + `Donald Blair` + `</div>`,
            {"sticky": true}
        );


        var marker_7cb836aadaa541d1a6001635e6539fcc = L.marker(
            [-1.30201, -78.21615],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_3a1f8c490b344964b5558ffbef0aede3 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_7cb836aadaa541d1a6001635e6539fcc.setIcon(custom_icon_3a1f8c490b344964b5558ffbef0aede3);


            var popup_ca023d0641134ab18c14f1b51a348e7e = L.popup({maxWidth: '100%'

            });


                var html_df3d72ed631b427bbe9185676500c7ed = $(`<div id="html_df3d72ed631b427bbe9185676500c7ed" style="width: 100.0%; height: 100.0%;"><b>Sam Archibald</b><p>Rio Negro, Tungurahua</p><i>Omni: 120</i></div>`)[0];
                popup_ca023d0641134ab18c14f1b51a348e7e.setContent(html_df3d72ed631b427bbe9185676500c7ed);


            marker_7cb836aadaa541d1a6001635e6539fcc.bindPopup(popup_ca023d0641134ab18c14f1b51a348e7e)
            ;




        marker_7cb836aadaa541d1a6001635e6539fcc.bindTooltip(
            `<div>`
            + `Sam Archibald` + `</div>`,
            {"sticky": true}
        );


        var marker_11e26532e0c3490f91e0d92933fd2ac5 = L.marker(
            [-1.55, -80.43333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_9a27ed11f2da445898dbe660e3ca5b1d = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_11e26532e0c3490f91e0d92933fd2ac5.setIcon(custom_icon_9a27ed11f2da445898dbe660e3ca5b1d);


            var popup_b88e59b62c4b48058b38d9e599063f8f = L.popup({maxWidth: '100%'

            });


                var html_57d78ce67df643ecb9b3bcb77f2dc223 = $(`<div id="html_57d78ce67df643ecb9b3bcb77f2dc223" style="width: 100.0%; height: 100.0%;"><b>Arielle Benjamin</b><p>Pajan, Manabi</p><i>Omni: 118</i></div>`)[0];
                popup_b88e59b62c4b48058b38d9e599063f8f.setContent(html_57d78ce67df643ecb9b3bcb77f2dc223);


            marker_11e26532e0c3490f91e0d92933fd2ac5.bindPopup(popup_b88e59b62c4b48058b38d9e599063f8f)
            ;




        marker_11e26532e0c3490f91e0d92933fd2ac5.bindTooltip(
            `<div>`
            + `Arielle Benjamin` + `</div>`,
            {"sticky": true}
        );


        var marker_92516794ec80431b8c7ef1d8637c516e = L.marker(
            [-2.19616, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_3d6b1ba7d54a45f983ff7cfb1607d00b = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_92516794ec80431b8c7ef1d8637c516e.setIcon(custom_icon_3d6b1ba7d54a45f983ff7cfb1607d00b);


            var popup_14f19039376d4c30b69dc4a28ffbd45d = L.popup({maxWidth: '100%'

            });


                var html_ea4cc7b5be7049289f0fe9356dbc363c = $(`<div id="html_ea4cc7b5be7049289f0fe9356dbc363c" style="width: 100.0%; height: 100.0%;"><b>Tatyana Ray</b><p>Guayaquil, Guayas</p><i>Omni: 120</i></div>`)[0];
                popup_14f19039376d4c30b69dc4a28ffbd45d.setContent(html_ea4cc7b5be7049289f0fe9356dbc363c);


            marker_92516794ec80431b8c7ef1d8637c516e.bindPopup(popup_14f19039376d4c30b69dc4a28ffbd45d)
            ;




        marker_92516794ec80431b8c7ef1d8637c516e.bindTooltip(
            `<div>`
            + `Tatyana Ray` + `</div>`,
            {"sticky": true}
        );


        var marker_6fd14984a3ff4b91b50affa5d3428a9d = L.marker(
            [-1.48369, -78.00257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_73ee5bb3d025450da355639d29f5e838 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_6fd14984a3ff4b91b50affa5d3428a9d.setIcon(custom_icon_73ee5bb3d025450da355639d29f5e838);


            var popup_01ffd725226e4227aa97097a34bca381 = L.popup({maxWidth: '100%'

            });


                var html_991ce9a8e7bd43d184a05136f4b03ebd = $(`<div id="html_991ce9a8e7bd43d184a05136f4b03ebd" style="width: 100.0%; height: 100.0%;"><b>Emily Gordon</b><p>Puyo, Pastaza</p><i>Omni: 118</i></div>`)[0];
                popup_01ffd725226e4227aa97097a34bca381.setContent(html_991ce9a8e7bd43d184a05136f4b03ebd);


            marker_6fd14984a3ff4b91b50affa5d3428a9d.bindPopup(popup_01ffd725226e4227aa97097a34bca381)
            ;




        marker_6fd14984a3ff4b91b50affa5d3428a9d.bindTooltip(
            `<div>`
            + `Emily Gordon` + `</div>`,
            {"sticky": true}
        );


        var marker_4007d4058bc846c2bb99ba68d3ba759d = L.marker(
            [-0.25305, -79.14536],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_d1450a14e9f746ac9abb399e8a4d2e95 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_4007d4058bc846c2bb99ba68d3ba759d.setIcon(custom_icon_d1450a14e9f746ac9abb399e8a4d2e95);


            var popup_592ea2172dbe47dcb51016069edf84e0 = L.popup({maxWidth: '100%'

            });


                var html_332998d436f541da91e54a96d83ab8e1 = $(`<div id="html_332998d436f541da91e54a96d83ab8e1" style="width: 100.0%; height: 100.0%;"><b>Laura Contreras</b><p>Santo Domingo, Santo Domingo</p><i>Omni: 119</i></div>`)[0];
                popup_592ea2172dbe47dcb51016069edf84e0.setContent(html_332998d436f541da91e54a96d83ab8e1);


            marker_4007d4058bc846c2bb99ba68d3ba759d.bindPopup(popup_592ea2172dbe47dcb51016069edf84e0)
            ;




        marker_4007d4058bc846c2bb99ba68d3ba759d.bindTooltip(
            `<div>`
            + `Laura Contreras` + `</div>`,
            {"sticky": true}
        );


        var marker_c1568e46bb8243adad87752a302c6eea = L.marker(
            [-2.22622, -80.85873],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_8dbbffe7bf5c4b0e9498d3523387eb74 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_c1568e46bb8243adad87752a302c6eea.setIcon(custom_icon_8dbbffe7bf5c4b0e9498d3523387eb74);


            var popup_87ccc8d8f68645d197455d271e691c18 = L.popup({maxWidth: '100%'

            });


                var html_c1b87631960a433495abb2cd468db542 = $(`<div id="html_c1b87631960a433495abb2cd468db542" style="width: 100.0%; height: 100.0%;"><b>Jonny Ricci</b><p>Santa Elena, Santa Elena</p><i>Omni: 121</i></div>`)[0];
                popup_87ccc8d8f68645d197455d271e691c18.setContent(html_c1b87631960a433495abb2cd468db542);


            marker_c1568e46bb8243adad87752a302c6eea.bindPopup(popup_87ccc8d8f68645d197455d271e691c18)
            ;




        marker_c1568e46bb8243adad87752a302c6eea.bindTooltip(
            `<div>`
            + `Jonny Ricci` + `</div>`,
            {"sticky": true}
        );


        var marker_8659b82e660a4fbea917aa672ba74c43 = L.marker(
            [-2.5, -78.8],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_38aae32f80a248f4a48dca88b91f4386 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_8659b82e660a4fbea917aa672ba74c43.setIcon(custom_icon_38aae32f80a248f4a48dca88b91f4386);


            var popup_d8140dcd083e4d219d1ccb3a2bad87cc = L.popup({maxWidth: '100%'

            });


                var html_301226554ae64da997d2901b95e5e84e = $(`<div id="html_301226554ae64da997d2901b95e5e84e" style="width: 100.0%; height: 100.0%;"><b>Emma Lee Tremblay</b><p>Cañar, Azuay</p><i>Omni: 119</i></div>`)[0];
                popup_d8140dcd083e4d219d1ccb3a2bad87cc.setContent(html_301226554ae64da997d2901b95e5e84e);


            marker_8659b82e660a4fbea917aa672ba74c43.bindPopup(popup_d8140dcd083e4d219d1ccb3a2bad87cc)
            ;




        marker_8659b82e660a4fbea917aa672ba74c43.bindTooltip(
            `<div>`
            + `Emma Lee Tremblay` + `</div>`,
            {"sticky": true}
        );


        var marker_5b8a37e237eb449fabdd0115635c097e = L.marker(
            [-1.48369, -77.97257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_cb1b2b9ac97f4bca90818a02f71f95cd = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_5b8a37e237eb449fabdd0115635c097e.setIcon(custom_icon_cb1b2b9ac97f4bca90818a02f71f95cd);


            var popup_e4df1515a7d5441aabb13a6ce7a2b133 = L.popup({maxWidth: '100%'

            });


                var html_6c0f178b6f1d433a86eb8ca19c351fbb = $(`<div id="html_6c0f178b6f1d433a86eb8ca19c351fbb" style="width: 100.0%; height: 100.0%;"><b>Paulina Prasad</b><p>Puyo, Pastaza</p><i>Omni: 121</i></div>`)[0];
                popup_e4df1515a7d5441aabb13a6ce7a2b133.setContent(html_6c0f178b6f1d433a86eb8ca19c351fbb);


            marker_5b8a37e237eb449fabdd0115635c097e.bindPopup(popup_e4df1515a7d5441aabb13a6ce7a2b133)
            ;




        marker_5b8a37e237eb449fabdd0115635c097e.bindTooltip(
            `<div>`
            + `Paulina Prasad` + `</div>`,
            {"sticky": true}
        );


        var marker_09426986edf64523bb3d0ffd6d392c6a = L.marker(
            [-0.22985, -78.46495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_71a59c8f8f244601af2c78095dbc84db = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_09426986edf64523bb3d0ffd6d392c6a.setIcon(custom_icon_71a59c8f8f244601af2c78095dbc84db);


            var popup_09334b154b1646a78699e050f0692533 = L.popup({maxWidth: '100%'

            });


                var html_8c3332d53ad94943bbbdfd3c23ca12e0 = $(`<div id="html_8c3332d53ad94943bbbdfd3c23ca12e0" style="width: 100.0%; height: 100.0%;"><b>Claudia Castañeda</b><p>Quito, Pichincha</p><i>Omni: 121</i></div>`)[0];
                popup_09334b154b1646a78699e050f0692533.setContent(html_8c3332d53ad94943bbbdfd3c23ca12e0);


            marker_09426986edf64523bb3d0ffd6d392c6a.bindPopup(popup_09334b154b1646a78699e050f0692533)
            ;




        marker_09426986edf64523bb3d0ffd6d392c6a.bindTooltip(
            `<div>`
            + `Claudia Castañeda` + `</div>`,
            {"sticky": true}
        );


        var marker_ba91d43b294a4d3d962b37eff7b011d9 = L.marker(
            [-1.59263, -79.00098],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_c6e984179e8a443fac2bee48e5b61523 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_ba91d43b294a4d3d962b37eff7b011d9.setIcon(custom_icon_c6e984179e8a443fac2bee48e5b61523);


            var popup_602266a7fbd64a3aa5de68004f5e1dac = L.popup({maxWidth: '100%'

            });


                var html_66150f62068443f1b0f21b76a0c9d9c0 = $(`<div id="html_66150f62068443f1b0f21b76a0c9d9c0" style="width: 100.0%; height: 100.0%;"><b>Emma Peel</b><p>Guaranda, Bolivar</p><i>Omni: 120</i></div>`)[0];
                popup_602266a7fbd64a3aa5de68004f5e1dac.setContent(html_66150f62068443f1b0f21b76a0c9d9c0);


            marker_ba91d43b294a4d3d962b37eff7b011d9.bindPopup(popup_602266a7fbd64a3aa5de68004f5e1dac)
            ;




        marker_ba91d43b294a4d3d962b37eff7b011d9.bindTooltip(
            `<div>`
            + `Emma Peel` + `</div>`,
            {"sticky": true}
        );


        var marker_204e231ace204ba2b2f861f60649d13c = L.marker(
            [-2.90055, -79.00453],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_bc4b37861c924ea8a0dba09db238a137 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_204e231ace204ba2b2f861f60649d13c.setIcon(custom_icon_bc4b37861c924ea8a0dba09db238a137);


            var popup_823467bd5d8543658159f98190611c27 = L.popup({maxWidth: '100%'

            });


                var html_7368ab58172842ba9076b84661a80b89 = $(`<div id="html_7368ab58172842ba9076b84661a80b89" style="width: 100.0%; height: 100.0%;"><b>Caroline Wilkerson</b><p>Cuenca, Azuay</p><i>Omni: 120</i></div>`)[0];
                popup_823467bd5d8543658159f98190611c27.setContent(html_7368ab58172842ba9076b84661a80b89);


            marker_204e231ace204ba2b2f861f60649d13c.bindPopup(popup_823467bd5d8543658159f98190611c27)
            ;




        marker_204e231ace204ba2b2f861f60649d13c.bindTooltip(
            `<div>`
            + `Caroline Wilkerson` + `</div>`,
            {"sticky": true}
        );


        var marker_b41f456faf4c4b1d87b0bba0a26b2611 = L.marker(
            [-1.68444, -79.02526],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_b89499120ed547b58df3dc452012cc2f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_b41f456faf4c4b1d87b0bba0a26b2611.setIcon(custom_icon_b89499120ed547b58df3dc452012cc2f);


            var popup_0929b7d082c644ce95da4c1d84b82552 = L.popup({maxWidth: '100%'

            });


                var html_13f3365271a24d4fb3924f48395eee87 = $(`<div id="html_13f3365271a24d4fb3924f48395eee87" style="width: 100.0%; height: 100.0%;"><b>Stephanie Fuentes</b><p>Chimbo, Bolivar</p><i>Omni: 119</i></div>`)[0];
                popup_0929b7d082c644ce95da4c1d84b82552.setContent(html_13f3365271a24d4fb3924f48395eee87);


            marker_b41f456faf4c4b1d87b0bba0a26b2611.bindPopup(popup_0929b7d082c644ce95da4c1d84b82552)
            ;




        marker_b41f456faf4c4b1d87b0bba0a26b2611.bindTooltip(
            `<div>`
            + `Stephanie Fuentes` + `</div>`,
            {"sticky": true}
        );


        var marker_488ec8da74f343dfa6cabd3daa0451d1 = L.marker(
            [-1.713775, -80.797806],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_60fa743bda1c4681b140571a87095bca = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_488ec8da74f343dfa6cabd3daa0451d1.setIcon(custom_icon_60fa743bda1c4681b140571a87095bca);


            var popup_a7f3c7c83ca442319341075b9ae5d6e7 = L.popup({maxWidth: '100%'

            });


                var html_6eaa8fa30c274910942486b0492da33a = $(`<div id="html_6eaa8fa30c274910942486b0492da33a" style="width: 100.0%; height: 100.0%;"><b>Jaquis Smith</b><p>Entrada, Santa Elena</p><i>Omni: 118</i></div>`)[0];
                popup_a7f3c7c83ca442319341075b9ae5d6e7.setContent(html_6eaa8fa30c274910942486b0492da33a);


            marker_488ec8da74f343dfa6cabd3daa0451d1.bindPopup(popup_a7f3c7c83ca442319341075b9ae5d6e7)
            ;




        marker_488ec8da74f343dfa6cabd3daa0451d1.bindTooltip(
            `<div>`
            + `Jaquis Smith` + `</div>`,
            {"sticky": true}
        );


        var marker_6f5508ec7f0842f5b81d60f7d0ad72ac = L.marker(
            [-1.81563, -80.23309],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_248b8874f0d44c8e92511a61a9916827 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_6f5508ec7f0842f5b81d60f7d0ad72ac.setIcon(custom_icon_248b8874f0d44c8e92511a61a9916827);


            var popup_c40df0c0c84f4ebeada0e94bdd0237fd = L.popup({maxWidth: '100%'

            });


                var html_0165c9295bb3413dabd4e2c73ebffdd4 = $(`<div id="html_0165c9295bb3413dabd4e2c73ebffdd4" style="width: 100.0%; height: 100.0%;"><b>Juan Carlos Castañeda</b><p>Pedro Carbo, Guayas</p><i>Omni: 120</i></div>`)[0];
                popup_c40df0c0c84f4ebeada0e94bdd0237fd.setContent(html_0165c9295bb3413dabd4e2c73ebffdd4);


            marker_6f5508ec7f0842f5b81d60f7d0ad72ac.bindPopup(popup_c40df0c0c84f4ebeada0e94bdd0237fd)
            ;




        marker_6f5508ec7f0842f5b81d60f7d0ad72ac.bindTooltip(
            `<div>`
            + `Juan Carlos Castañeda` + `</div>`,
            {"sticky": true}
        );


        var marker_7120fea61be64a0a8d9da36514001d12 = L.marker(
            [-2.19616, -79.85621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_f6d39b5fd4b943b49dc062324b4e6bb9 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_7120fea61be64a0a8d9da36514001d12.setIcon(custom_icon_f6d39b5fd4b943b49dc062324b4e6bb9);


            var popup_601cc53b352541e6ac12e83097e769d1 = L.popup({maxWidth: '100%'

            });


                var html_2cdc4aa161614bd1ba267372b0f97edb = $(`<div id="html_2cdc4aa161614bd1ba267372b0f97edb" style="width: 100.0%; height: 100.0%;"><b>Brenda Pereira</b><p>Guayaquil, Guayas</p><i>Omni: 121</i></div>`)[0];
                popup_601cc53b352541e6ac12e83097e769d1.setContent(html_2cdc4aa161614bd1ba267372b0f97edb);


            marker_7120fea61be64a0a8d9da36514001d12.bindPopup(popup_601cc53b352541e6ac12e83097e769d1)
            ;




        marker_7120fea61be64a0a8d9da36514001d12.bindTooltip(
            `<div>`
            + `Brenda Pereira` + `</div>`,
            {"sticky": true}
        );


        var marker_6f2de9123468476ea9f7f16cf6e3914b = L.marker(
            [-2.19616, -79.82621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_68c6318b87f24119ad678ddf85db103a = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_6f2de9123468476ea9f7f16cf6e3914b.setIcon(custom_icon_68c6318b87f24119ad678ddf85db103a);


            var popup_4846b0fa948d4e6bbff2006d7e65985b = L.popup({maxWidth: '100%'

            });


                var html_8d5e0325648e40139a4e6b88707d63e3 = $(`<div id="html_8d5e0325648e40139a4e6b88707d63e3" style="width: 100.0%; height: 100.0%;"><b>Claudia Sanabria</b><p>Guayaquil, Guayas</p><i>Omni: 120</i></div>`)[0];
                popup_4846b0fa948d4e6bbff2006d7e65985b.setContent(html_8d5e0325648e40139a4e6b88707d63e3);


            marker_6f2de9123468476ea9f7f16cf6e3914b.bindPopup(popup_4846b0fa948d4e6bbff2006d7e65985b)
            ;




        marker_6f2de9123468476ea9f7f16cf6e3914b.bindTooltip(
            `<div>`
            + `Claudia Sanabria` + `</div>`,
            {"sticky": true}
        );


        var marker_d1590fe645f945beab358a7ef017abac = L.marker(
            [0.23457, -78.26248],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_563dd1e3c9da42149ae1238ff2b5db0a = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_d1590fe645f945beab358a7ef017abac.setIcon(custom_icon_563dd1e3c9da42149ae1238ff2b5db0a);


            var popup_46867d6605dc437eb1d599569c56623c = L.popup({maxWidth: '100%'

            });


                var html_ce25f6a2d120407c8d30efbbeb8684ba = $(`<div id="html_ce25f6a2d120407c8d30efbbeb8684ba" style="width: 100.0%; height: 100.0%;"><b>Yessenia Gonzalez</b><p>Otavalo, Imbabura</p><i>Omni: 120</i></div>`)[0];
                popup_46867d6605dc437eb1d599569c56623c.setContent(html_ce25f6a2d120407c8d30efbbeb8684ba);


            marker_d1590fe645f945beab358a7ef017abac.bindPopup(popup_46867d6605dc437eb1d599569c56623c)
            ;




        marker_d1590fe645f945beab358a7ef017abac.bindTooltip(
            `<div>`
            + `Yessenia Gonzalez` + `</div>`,
            {"sticky": true}
        );


        var marker_7d785d61aeb94a43ab93b08cccdef692 = L.marker(
            [-0.28703, -78.48132],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_f26517de520848b2af7aa93595f72581 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_7d785d61aeb94a43ab93b08cccdef692.setIcon(custom_icon_f26517de520848b2af7aa93595f72581);


            var popup_6f3ca13af4b14fe3a7f727a04677e53e = L.popup({maxWidth: '100%'

            });


                var html_1e5998c2759e4e869f22cf23239231e0 = $(`<div id="html_1e5998c2759e4e869f22cf23239231e0" style="width: 100.0%; height: 100.0%;"><b>Imhotep Simba</b><p>Conocoto, Pichincha</p><i>Omni: 118</i></div>`)[0];
                popup_6f3ca13af4b14fe3a7f727a04677e53e.setContent(html_1e5998c2759e4e869f22cf23239231e0);


            marker_7d785d61aeb94a43ab93b08cccdef692.bindPopup(popup_6f3ca13af4b14fe3a7f727a04677e53e)
            ;




        marker_7d785d61aeb94a43ab93b08cccdef692.bindTooltip(
            `<div>`
            + `Imhotep Simba` + `</div>`,
            {"sticky": true}
        );


        var marker_916aa1344c5d4ee6be2a8ea220f7eda7 = L.marker(
            [-0.93521, -78.61554],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_a7797f6439b6422689cb2e9ca99ffac8 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_916aa1344c5d4ee6be2a8ea220f7eda7.setIcon(custom_icon_a7797f6439b6422689cb2e9ca99ffac8);


            var popup_1542d4196723403aa9efdeb2e7fbf6ab = L.popup({maxWidth: '100%'

            });


                var html_4c4d6f4b0e27450ca9470a7c8ed365f4 = $(`<div id="html_4c4d6f4b0e27450ca9470a7c8ed365f4" style="width: 100.0%; height: 100.0%;"><b>Jonathan Reyes</b><p>Latacunga, Cotopaxi</p><i>Omni: 121</i></div>`)[0];
                popup_1542d4196723403aa9efdeb2e7fbf6ab.setContent(html_4c4d6f4b0e27450ca9470a7c8ed365f4);


            marker_916aa1344c5d4ee6be2a8ea220f7eda7.bindPopup(popup_1542d4196723403aa9efdeb2e7fbf6ab)
            ;




        marker_916aa1344c5d4ee6be2a8ea220f7eda7.bindTooltip(
            `<div>`
            + `Jonathan Reyes` + `</div>`,
            {"sticky": true}
        );


        var marker_630ae5c096ce4bc983ec94eec3931e4b = L.marker(
            [-3.25861, -79.90053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_ed8fed555701479981aab60261f01b09 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_630ae5c096ce4bc983ec94eec3931e4b.setIcon(custom_icon_ed8fed555701479981aab60261f01b09);


            var popup_01fd422e5d0c4478b9de5e3d2d19a8b0 = L.popup({maxWidth: '100%'

            });


                var html_02cc2c353e0940adbcbfe3ca0984bab0 = $(`<div id="html_02cc2c353e0940adbcbfe3ca0984bab0" style="width: 100.0%; height: 100.0%;"><b>Fernando Labastida</b><p>Machala, El Oro</p><i>Omni: 118</i></div>`)[0];
                popup_01fd422e5d0c4478b9de5e3d2d19a8b0.setContent(html_02cc2c353e0940adbcbfe3ca0984bab0);


            marker_630ae5c096ce4bc983ec94eec3931e4b.bindPopup(popup_01fd422e5d0c4478b9de5e3d2d19a8b0)
            ;




        marker_630ae5c096ce4bc983ec94eec3931e4b.bindTooltip(
            `<div>`
            + `Fernando Labastida` + `</div>`,
            {"sticky": true}
        );


        var marker_c02c9cedd1ba42d6b132421ffa208143 = L.marker(
            [-1.48369, -77.94257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_1236ce7a989b43669d01d43b3aab1e56 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [35,35],







                    });
                marker_c02c9cedd1ba42d6b132421ffa208143.setIcon(custom_icon_1236ce7a989b43669d01d43b3aab1e56);


            var popup_6b58ad41b5594ad6a17ebb97e5719701 = L.popup({maxWidth: '100%'

            });


                var html_f9c4b451d3ff47979bd3058939308e39 = $(`<div id="html_f9c4b451d3ff47979bd3058939308e39" style="width: 100.0%; height: 100.0%;"><b>Eric Canales</b><p>Puyo, Pastaza</p><i>Omni: 118</i></div>`)[0];
                popup_6b58ad41b5594ad6a17ebb97e5719701.setContent(html_f9c4b451d3ff47979bd3058939308e39);


            marker_c02c9cedd1ba42d6b132421ffa208143.bindPopup(popup_6b58ad41b5594ad6a17ebb97e5719701)
            ;




        marker_c02c9cedd1ba42d6b132421ffa208143.bindTooltip(
            `<div>`
            + `Eric Canales` + `</div>`,
            {"sticky": true}
        );


        var marker_ca0d20b672344beaafbf00c2c5547c5f = L.marker(
            [-1.55, -80.40333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_488252d1f32b47b3a02c69fa185b08d7 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_ca0d20b672344beaafbf00c2c5547c5f.setIcon(custom_icon_488252d1f32b47b3a02c69fa185b08d7);


            var popup_3058bf8c26524390b64bc96b7f9d6f71 = L.popup({maxWidth: '100%'

            });


                var html_85cc754ea09d4a7e8ce0dbf06251bac6 = $(`<div id="html_85cc754ea09d4a7e8ce0dbf06251bac6" style="width: 100.0%; height: 100.0%;"><b>Becky Sokolow</b><p>Paján, Manabí</p><i>Omni: 121</i></div>`)[0];
                popup_3058bf8c26524390b64bc96b7f9d6f71.setContent(html_85cc754ea09d4a7e8ce0dbf06251bac6);


            marker_ca0d20b672344beaafbf00c2c5547c5f.bindPopup(popup_3058bf8c26524390b64bc96b7f9d6f71)
            ;




        marker_ca0d20b672344beaafbf00c2c5547c5f.bindTooltip(
            `<div>`
            + `Becky Sokolow` + `</div>`,
            {"sticky": true}
        );


        var marker_6acd33d4565548219b1e43413a0d4507 = L.marker(
            [-1.58176, -80.39661],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_71f73769fb7f4a9dbd471d60325c0c49 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_6acd33d4565548219b1e43413a0d4507.setIcon(custom_icon_71f73769fb7f4a9dbd471d60325c0c49);


            var popup_0f96ad321a9849198e66bb3bde1fa52f = L.popup({maxWidth: '100%'

            });


                var html_481b3ab22d9c45879c01ef289d9f641b = $(`<div id="html_481b3ab22d9c45879c01ef289d9f641b" style="width: 100.0%; height: 100.0%;"><b>Ivonne Headley</b><p>Camposano, Manabi</p><i>Omni: 120</i></div>`)[0];
                popup_0f96ad321a9849198e66bb3bde1fa52f.setContent(html_481b3ab22d9c45879c01ef289d9f641b);


            marker_6acd33d4565548219b1e43413a0d4507.bindPopup(popup_0f96ad321a9849198e66bb3bde1fa52f)
            ;




        marker_6acd33d4565548219b1e43413a0d4507.bindTooltip(
            `<div>`
            + `Ivonne Headley` + `</div>`,
            {"sticky": true}
        );


        var marker_2481aa06abb84a4d882f636e0b390271 = L.marker(
            [-2.19616, -79.79621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_aa5801de1c0f41239346e2b67bf5410f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_2481aa06abb84a4d882f636e0b390271.setIcon(custom_icon_aa5801de1c0f41239346e2b67bf5410f);


            var popup_c7e43a8e8afc45c3894030b448093f76 = L.popup({maxWidth: '100%'

            });


                var html_75d7471ef1664a0b98c353fd32f641b2 = $(`<div id="html_75d7471ef1664a0b98c353fd32f641b2" style="width: 100.0%; height: 100.0%;"><b>Monica Munoz</b><p>Guayaquil, Guayas</p><i>Omni: 118</i></div>`)[0];
                popup_c7e43a8e8afc45c3894030b448093f76.setContent(html_75d7471ef1664a0b98c353fd32f641b2);


            marker_2481aa06abb84a4d882f636e0b390271.bindPopup(popup_c7e43a8e8afc45c3894030b448093f76)
            ;




        marker_2481aa06abb84a4d882f636e0b390271.bindTooltip(
            `<div>`
            + `Monica Munoz` + `</div>`,
            {"sticky": true}
        );


        var marker_baae6520ff334a5aa25ecb021790d498 = L.marker(
            [-3.25861, -79.87053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_2f5dcd0bdd2e4787b55d6a3a88e244ea = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [42,42],







                    });
                marker_baae6520ff334a5aa25ecb021790d498.setIcon(custom_icon_2f5dcd0bdd2e4787b55d6a3a88e244ea);


            var popup_438e88587ae74d8489c7e775362041f4 = L.popup({maxWidth: '100%'

            });


                var html_efc909d0857648dc912572f38146afae = $(`<div id="html_efc909d0857648dc912572f38146afae" style="width: 100.0%; height: 100.0%;"><b>Jonathan Torres Rentas</b><p>Machala, El Oro</p><i>Omni: 120</i></div>`)[0];
                popup_438e88587ae74d8489c7e775362041f4.setContent(html_efc909d0857648dc912572f38146afae);


            marker_baae6520ff334a5aa25ecb021790d498.bindPopup(popup_438e88587ae74d8489c7e775362041f4)
            ;




        marker_baae6520ff334a5aa25ecb021790d498.bindTooltip(
            `<div>`
            + `Jonathan Torres Rentas` + `</div>`,
            {"sticky": true}
        );


        var marker_8260ae6dd3744203a26129946a612383 = L.marker(
            [-3.99313, -79.20422],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_aeb90e696eca4af6b43f1ac72293e2f0);



                var custom_icon_c2e03e989f2a469db921de8e96776371 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/slightly-smiling-face_1f642.png',
                    iconSize: [32,32],







                    });
                marker_8260ae6dd3744203a26129946a612383.setIcon(custom_icon_c2e03e989f2a469db921de8e96776371);


            var popup_a6896fe2ef974cb98a33e20ce8bb51d8 = L.popup({maxWidth: '100%'

            });


                var html_71097106d370489e8053ad68687d9c7a = $(`<div id="html_71097106d370489e8053ad68687d9c7a" style="width: 100.0%; height: 100.0%;"><b>Amy Runkle</b><p>Loja, Loja</p><i>Omni: 118</i></div>`)[0];
                popup_a6896fe2ef974cb98a33e20ce8bb51d8.setContent(html_71097106d370489e8053ad68687d9c7a);


            marker_8260ae6dd3744203a26129946a612383.bindPopup(popup_a6896fe2ef974cb98a33e20ce8bb51d8)
            ;




        marker_8260ae6dd3744203a26129946a612383.bindTooltip(
            `<div>`
            + `Amy Runkle` + `</div>`,
            {"sticky": true}
        );

</script>