<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_fa747996a6bf4c5c84c5378283463193 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_fa747996a6bf4c5c84c5378283463193" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_fa747996a6bf4c5c84c5378283463193 = L.map(
        'map_fa747996a6bf4c5c84c5378283463193', {
        center: [-1.8312, -78.1834],
        zoom: 6,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_a2bbd7702a2d40819f8059ab636f4164 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_fa747996a6bf4c5c84c5378283463193);
    
        var marker_ce54d176364e4dd9ab2ee86af41c4ebe = L.marker(
            [-2.90055, -79.00453],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_ff76cf5f17204c3a9effa58d84f333bf = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_ce54d176364e4dd9ab2ee86af41c4ebe.setIcon(custom_icon_ff76cf5f17204c3a9effa58d84f333bf);
            
    
        marker_ce54d176364e4dd9ab2ee86af41c4ebe.bindTooltip(
            `<div>`
            + `<b>Caroline Wilkerson</b>, Ally<p>Cuenca, Azuay</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4ed72a45810e431b86a72741082c29d0 = L.marker(
            [-1.85, -79.96667],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_dc736c3e03a54d60b2417133120cfcd4 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_4ed72a45810e431b86a72741082c29d0.setIcon(custom_icon_dc736c3e03a54d60b2417133120cfcd4);
            
    
        marker_4ed72a45810e431b86a72741082c29d0.bindTooltip(
            `<div>`
            + `<b>Jesse Cote</b>, Ally<p>Daule, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_6bf3dc6062f14590b9dcefc0b4176e97 = L.marker(
            [-1.59263, -79.00098],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_b7d72e61a4c3447cb4ee340e14a0b00f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_6bf3dc6062f14590b9dcefc0b4176e97.setIcon(custom_icon_b7d72e61a4c3447cb4ee340e14a0b00f);
            
    
        marker_6bf3dc6062f14590b9dcefc0b4176e97.bindTooltip(
            `<div>`
            + `<b>Emma Peel</b>, Ally<p>Guaranda, Bolivar</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_e9131f3e8be6420fb32fde464e6ea8f0 = L.marker(
            [-2.19616, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_a83a4d5955534270a930c40a58bbcda6 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_e9131f3e8be6420fb32fde464e6ea8f0.setIcon(custom_icon_a83a4d5955534270a930c40a58bbcda6);
            
    
        marker_e9131f3e8be6420fb32fde464e6ea8f0.bindTooltip(
            `<div>`
            + `<b>Tatyana Ray</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_21ffbbf9a3054adf92686b2aca2d5e35 = L.marker(
            [-2.19616, -79.83621000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_ef2d861564f244269a01679cd216dfb8 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_21ffbbf9a3054adf92686b2aca2d5e35.setIcon(custom_icon_ef2d861564f244269a01679cd216dfb8);
            
    
        marker_21ffbbf9a3054adf92686b2aca2d5e35.bindTooltip(
            `<div>`
            + `<b>Monica Munoz</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_56ca075d1583433780c0a0479997f5bd = L.marker(
            [-2.19616, -79.93621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_2da85ba94e2a4c0fb82570f3cdc52450 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_56ca075d1583433780c0a0479997f5bd.setIcon(custom_icon_2da85ba94e2a4c0fb82570f3cdc52450);
            
    
        marker_56ca075d1583433780c0a0479997f5bd.bindTooltip(
            `<div>`
            + `<b>Lindsey Treweek</b>, Ally<p>Guayaquil, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_d196c97d2fe74ae6b8af6d73b9a9a484 = L.marker(
            [-2.14616, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_6330b283cbc640788c8fef3b1af5f009 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_d196c97d2fe74ae6b8af6d73b9a9a484.setIcon(custom_icon_6330b283cbc640788c8fef3b1af5f009);
            
    
        marker_d196c97d2fe74ae6b8af6d73b9a9a484.bindTooltip(
            `<div>`
            + `<b>Brenda Pereira</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4a00b7b6cd39402f84fda5f9ea25503b = L.marker(
            [-1.713775, -80.797806],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_1f1ef8b4f770469b95c34f1a6899d03d = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_4a00b7b6cd39402f84fda5f9ea25503b.setIcon(custom_icon_1f1ef8b4f770469b95c34f1a6899d03d);
            
    
        marker_4a00b7b6cd39402f84fda5f9ea25503b.bindTooltip(
            `<div>`
            + `<b>Jaquis Smith</b>, Member<p>Entrada, Santa Elena</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_dbe16a7cceb9480cbd61968c7592ea34 = L.marker(
            [-0.93521, -78.61554],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_285e39cf57c4401a89d6c1d6d156603b = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_dbe16a7cceb9480cbd61968c7592ea34.setIcon(custom_icon_285e39cf57c4401a89d6c1d6d156603b);
            
    
        marker_dbe16a7cceb9480cbd61968c7592ea34.bindTooltip(
            `<div>`
            + `<b>Jonathan Reyes</b>, Member<p>Latacunga, Cotopaxi</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_a31edf061e1c44929b5e1d3fb4913087 = L.marker(
            [-3.99313, -79.20422],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_d529fc0302204cb1a26319aa3aadba6c = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_a31edf061e1c44929b5e1d3fb4913087.setIcon(custom_icon_d529fc0302204cb1a26319aa3aadba6c);
            
    
        marker_a31edf061e1c44929b5e1d3fb4913087.bindTooltip(
            `<div>`
            + `<b>Amy Runkle</b>, Ally<p>Loja, Loja</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_5418d75b1ca248b48519ef1bae7f8ebb = L.marker(
            [-3.25861, -79.96053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_6d268e41fc7b405fb3300c92f6ff8357 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_5418d75b1ca248b48519ef1bae7f8ebb.setIcon(custom_icon_6d268e41fc7b405fb3300c92f6ff8357);
            
    
        marker_5418d75b1ca248b48519ef1bae7f8ebb.bindTooltip(
            `<div>`
            + `<b>Peter Amerkhanian</b>, Ally<p>Machala, El Oro</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_c75ab5e1f81247cf8f9225c20c984b01 = L.marker(
            [-3.25861, -79.91053000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_412a2089118d4794b9a6146a27fe5561 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_c75ab5e1f81247cf8f9225c20c984b01.setIcon(custom_icon_412a2089118d4794b9a6146a27fe5561);
            
    
        marker_c75ab5e1f81247cf8f9225c20c984b01.bindTooltip(
            `<div>`
            + `<b>Arielle Hernandez</b>, Member<p>Machala, El Oro</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_37ecdcc798fd46ad9fc51f1a4c76dd70 = L.marker(
            [-3.25861, -80.01053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_f7411d4c7b3741758e5e648c17ae2892 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_37ecdcc798fd46ad9fc51f1a4c76dd70.setIcon(custom_icon_f7411d4c7b3741758e5e648c17ae2892);
            
    
        marker_37ecdcc798fd46ad9fc51f1a4c76dd70.bindTooltip(
            `<div>`
            + `<b>Fernando Labastida</b>, Member<p>Machala, El Oro</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_1be0a4038523450bbf9aaba702374ff4 = L.marker(
            [-3.20861, -79.96053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_84639a8230624477ab07ef57de24100f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_1be0a4038523450bbf9aaba702374ff4.setIcon(custom_icon_84639a8230624477ab07ef57de24100f);
            
    
        marker_1be0a4038523450bbf9aaba702374ff4.bindTooltip(
            `<div>`
            + `<b>Jonathan Torres Rentas</b>, Member<p>Machala, El Oro</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_9d4e624dd4ff4750aa6131fdb0fa8343 = L.marker(
            [-1.55, -80.43333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_39538d0ecfc347b5b49a9733a84143c9 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_9d4e624dd4ff4750aa6131fdb0fa8343.setIcon(custom_icon_39538d0ecfc347b5b49a9733a84143c9);
            
    
        marker_9d4e624dd4ff4750aa6131fdb0fa8343.bindTooltip(
            `<div>`
            + `<b>Arielle Benjamin</b>, Member<p>Pajan, Manabi</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_57de2eaf4d9348fcbc50497bd49cb935 = L.marker(
            [-1.55, -80.38333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_745310135522408c9f2447867d3ef37e = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_57de2eaf4d9348fcbc50497bd49cb935.setIcon(custom_icon_745310135522408c9f2447867d3ef37e);
            
    
        marker_57de2eaf4d9348fcbc50497bd49cb935.bindTooltip(
            `<div>`
            + `<b>Becky Sokolow</b>, Member<p>Paján, Manabí</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_92a7537c73524445bf84e0dacbbd4cc7 = L.marker(
            [-1.81563, -80.23309],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_d4fe0ce4ee51480d85a6991e7ef531b2 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_92a7537c73524445bf84e0dacbbd4cc7.setIcon(custom_icon_d4fe0ce4ee51480d85a6991e7ef531b2);
            
    
        marker_92a7537c73524445bf84e0dacbbd4cc7.bindTooltip(
            `<div>`
            + `<b>Juan Carlos Castañeda</b>, Member<p>Pedro Carbo, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_2eda7966411e4b63bd52059d9b08038c = L.marker(
            [-1.55725, -80.74763],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_8ea03d34cde6429db2ade4480ce225be = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_2eda7966411e4b63bd52059d9b08038c.setIcon(custom_icon_8ea03d34cde6429db2ade4480ce225be);
            
    
        marker_2eda7966411e4b63bd52059d9b08038c.bindTooltip(
            `<div>`
            + `<b>Lobo Bucher</b>, Member<p>Puerto Lopez, Manabi</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_33a5d2d90f734363a86753d96360478c = L.marker(
            [-1.55725, -80.69763],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_6bc5595fac58464e90c6f89a9b0e9d1f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_33a5d2d90f734363a86753d96360478c.setIcon(custom_icon_6bc5595fac58464e90c6f89a9b0e9d1f);
            
    
        marker_33a5d2d90f734363a86753d96360478c.bindTooltip(
            `<div>`
            + `<b>Jon Ahn</b>, Member<p>Puerto Lopez, Manabi</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_5f29740f5194459aa8eb2a559d8b4f6e = L.marker(
            [-0.95759, -78.69636],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_38e0f480115e4449b925f548d45edef7 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_5f29740f5194459aa8eb2a559d8b4f6e.setIcon(custom_icon_38e0f480115e4449b925f548d45edef7);
            
    
        marker_5f29740f5194459aa8eb2a559d8b4f6e.bindTooltip(
            `<div>`
            + `<b>Melissa Ortiz</b>, Member<p>Pujili, Cotopaxi</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8d4cf2c0f5b740df9c9ba6a8b53825da = L.marker(
            [-1.48369, -78.00257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_ae6af4e922f847dea64e73c34dc1ca45 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_8d4cf2c0f5b740df9c9ba6a8b53825da.setIcon(custom_icon_ae6af4e922f847dea64e73c34dc1ca45);
            
    
        marker_8d4cf2c0f5b740df9c9ba6a8b53825da.bindTooltip(
            `<div>`
            + `<b>Paulina Prasad</b>, Member<p>Puyo, Pastaza</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_c00b74f41a9442cfa2b6ca091072b49b = L.marker(
            [-1.48369, -77.95257000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_77c5ac788aae4a28ba3423b327b45572 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_c00b74f41a9442cfa2b6ca091072b49b.setIcon(custom_icon_77c5ac788aae4a28ba3423b327b45572);
            
    
        marker_c00b74f41a9442cfa2b6ca091072b49b.bindTooltip(
            `<div>`
            + `<b>Emily Gordon</b>, Member<p>Puyo, Pastaza</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8e4630931f674aa4ab96a5fee495323d = L.marker(
            [-1.48369, -78.05257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_dbfef7bc9e5a40c096889eb6a260db37 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_8e4630931f674aa4ab96a5fee495323d.setIcon(custom_icon_dbfef7bc9e5a40c096889eb6a260db37);
            
    
        marker_8e4630931f674aa4ab96a5fee495323d.bindTooltip(
            `<div>`
            + `<b>Eric Canales</b>, Ally<p>Puyo, Pastaza</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_080983427dc246948cd3be3cdc9fc68d = L.marker(
            [-1.30201, -78.21615],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_18be02ce2c4848da826c518ccc60547d = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_080983427dc246948cd3be3cdc9fc68d.setIcon(custom_icon_18be02ce2c4848da826c518ccc60547d);
            
    
        marker_080983427dc246948cd3be3cdc9fc68d.bindTooltip(
            `<div>`
            + `<b>Sam Archibald</b>, Ally<p>Rio Negro, Tungurahua</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_5773dc4a176e4650b6f829e3c28e43f7 = L.marker(
            [-1.68444, -79.02526],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_889f1575a0f44edfa50a6b35014c5058 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_5773dc4a176e4650b6f829e3c28e43f7.setIcon(custom_icon_889f1575a0f44edfa50a6b35014c5058);
            
    
        marker_5773dc4a176e4650b6f829e3c28e43f7.bindTooltip(
            `<div>`
            + `<b>Stephanie Fuentes</b>, Member<p>Chimbo, Bolivar</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_779cdd87d85243049741e7327babc009 = L.marker(
            [-2.22622, -80.85873],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_aa6fd0a6811a462689703e07ba07f766 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_779cdd87d85243049741e7327babc009.setIcon(custom_icon_aa6fd0a6811a462689703e07ba07f766);
            
    
        marker_779cdd87d85243049741e7327babc009.bindTooltip(
            `<div>`
            + `<b>Jonny Ricci</b>, Ally<p>Santa Elena, Santa Elena</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_cf784b0210da47f6979ff73f73942da4 = L.marker(
            [-3.44882, -79.95952],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_646d8dc6f33943b1a11f3915df7e8769 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_cf784b0210da47f6979ff73f73942da4.setIcon(custom_icon_646d8dc6f33943b1a11f3915df7e8769);
            
    
        marker_cf784b0210da47f6979ff73f73942da4.bindTooltip(
            `<div>`
            + `<b>Hannah Lussier</b>, Ally<p>Santa Rosa, El Oro</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_182eaedfb86b42cfabb3a79c7dc58995 = L.marker(
            [-0.25305, -79.17536],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_7bc7cd3fa52e42668531d39b76d74f85 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_182eaedfb86b42cfabb3a79c7dc58995.setIcon(custom_icon_7bc7cd3fa52e42668531d39b76d74f85);
            
    
        marker_182eaedfb86b42cfabb3a79c7dc58995.bindTooltip(
            `<div>`
            + `<b>Donald Blair</b>, Member<p>Santo Domingo, Santo Domingo</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_33b1adc517e54e7cbcd567c9934c377b = L.marker(
            [-0.25305, -79.12536],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_ed945cb80366472bbf47114874dcdc30 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_33b1adc517e54e7cbcd567c9934c377b.setIcon(custom_icon_ed945cb80366472bbf47114874dcdc30);
            
    
        marker_33b1adc517e54e7cbcd567c9934c377b.bindTooltip(
            `<div>`
            + `<b>Laura Contreras</b>, Member<p>Santo Domingo, Santo Domingo</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_466c10bfe09d4641960aafb19f0ce325 = L.marker(
            [-0.28703, -78.48132],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_1aedbae81f3d411e95017b1c0bb6d260 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_466c10bfe09d4641960aafb19f0ce325.setIcon(custom_icon_1aedbae81f3d411e95017b1c0bb6d260);
            
    
        marker_466c10bfe09d4641960aafb19f0ce325.bindTooltip(
            `<div>`
            + `<b>Imhotep Simba</b>, Member<p>Conocoto, Pichincha</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_e56280ee52d14f2a9cd0002f26552fd4 = L.marker(
            [-0.22985, -78.52495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_18072ba57376432296122a162f10cf1f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_e56280ee52d14f2a9cd0002f26552fd4.setIcon(custom_icon_18072ba57376432296122a162f10cf1f);
            
    
        marker_e56280ee52d14f2a9cd0002f26552fd4.bindTooltip(
            `<div>`
            + `<b>Samantha Nordstedt</b>, Member<p>Quito, Pichincha</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_e187d97a2f0d4cf9ad3be550ebdf3953 = L.marker(
            [-0.22985, -78.47495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_4a8018ce7931435594de338ca2132502 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_e187d97a2f0d4cf9ad3be550ebdf3953.setIcon(custom_icon_4a8018ce7931435594de338ca2132502);
            
    
        marker_e187d97a2f0d4cf9ad3be550ebdf3953.bindTooltip(
            `<div>`
            + `<b>Alejandra Garcia</b>, Member<p>Quito, Pichincha</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_7fe4ff82fc2d4627a8c7d0182544674f = L.marker(
            [-0.22985, -78.57495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_c8bc999101d84b348b4e4553a075de35 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_7fe4ff82fc2d4627a8c7d0182544674f.setIcon(custom_icon_c8bc999101d84b348b4e4553a075de35);
            
    
        marker_7fe4ff82fc2d4627a8c7d0182544674f.bindTooltip(
            `<div>`
            + `<b>Claudia Castañeda</b>, Member<p>Quito, Pichincha</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_bd7c394b90f74eeca83cc01560644be2 = L.marker(
            [-1.13969, -77.94902],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_f8449e15f60a4037b3b0ad2400757504 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_bd7c394b90f74eeca83cc01560644be2.setIcon(custom_icon_f8449e15f60a4037b3b0ad2400757504);
            
    
        marker_bd7c394b90f74eeca83cc01560644be2.bindTooltip(
            `<div>`
            + `<b>Daniel Ponton</b>, Member<p>Arosemena Tola, Napo</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_2051f380aa6e42c29068d95879037ddb = L.marker(
            [-2.2461599999999997, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_49ab97064cd74eb1b33ceffa6de9701c = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_2051f380aa6e42c29068d95879037ddb.setIcon(custom_icon_49ab97064cd74eb1b33ceffa6de9701c);
            
    
        marker_2051f380aa6e42c29068d95879037ddb.bindTooltip(
            `<div>`
            + `<b>Grant Gergen</b>, Ally<p>Guayaquil, Guayas</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_f4f3678bccdf4524a353201d55caaaad = L.marker(
            [-1.13969, -77.89902000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fa747996a6bf4c5c84c5378283463193);
        
    

                var custom_icon_f976e682b0ba432aa0a4ee661a2e396d = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_f4f3678bccdf4524a353201d55caaaad.setIcon(custom_icon_f976e682b0ba432aa0a4ee661a2e396d);
            
    
        marker_f4f3678bccdf4524a353201d55caaaad.bindTooltip(
            `<div>`
            + `<b>Sydney Kelly</b>, Ally<p>Arosemena Tola, Napo</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
</script>