<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_2d2ee3c21d4b44b095c9173b7949c2b2 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_2d2ee3c21d4b44b095c9173b7949c2b2" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_2d2ee3c21d4b44b095c9173b7949c2b2 = L.map(
        'map_2d2ee3c21d4b44b095c9173b7949c2b2', {
        center: [-1.8312, -78.1834],
        zoom: 6,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_015935953db04ce884b294d0d271e9e1 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
    
        var marker_58864df80f124c05b4a006253e251dbd = L.marker(
            [-1.13969, -77.94902],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_21dee83198c24390aa66f4c900bcbc6a = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_58864df80f124c05b4a006253e251dbd.setIcon(custom_icon_21dee83198c24390aa66f4c900bcbc6a);
            
    
        marker_58864df80f124c05b4a006253e251dbd.bindTooltip(
            `<div>`
            + `<b>Daniel Poton</b>, Ally<p>Carlos Julio Arosemena Tola, Napo</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_783d3934a3dc4aa8a64d12a2f128d805 = L.marker(
            [-1.58176, -80.39661],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_d22aba7d34c64bdab571e9e1a0d01e93 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_783d3934a3dc4aa8a64d12a2f128d805.setIcon(custom_icon_d22aba7d34c64bdab571e9e1a0d01e93);
            
    
        marker_783d3934a3dc4aa8a64d12a2f128d805.bindTooltip(
            `<div>`
            + `<b>Ivonne Headley</b>, Member<p>Camposano, Manabi</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_93b34cae1db8428ba96eaa36f79149bd = L.marker(
            [-2.5, -78.8],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_10edd60b595847f18b5f723c57211a07 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_93b34cae1db8428ba96eaa36f79149bd.setIcon(custom_icon_10edd60b595847f18b5f723c57211a07);
            
    
        marker_93b34cae1db8428ba96eaa36f79149bd.bindTooltip(
            `<div>`
            + `<b>Emma Lee Tremblay</b>, Ally<p>Cañar, Azuay</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_e0a8cbac55fb46d7a8edcaeffe312e16 = L.marker(
            [-2.90055, -79.00453],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_7670ba03ff594db0b8ca7a35095bd28f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_e0a8cbac55fb46d7a8edcaeffe312e16.setIcon(custom_icon_7670ba03ff594db0b8ca7a35095bd28f);
            
    
        marker_e0a8cbac55fb46d7a8edcaeffe312e16.bindTooltip(
            `<div>`
            + `<b>Caroline Wilkerson</b>, Ally<p>Cuenca, Azuay</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8251a98dcd274a09ab91d294b7afaa2e = L.marker(
            [-1.85, -79.96667],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_90606cf7275b4f01ace2d55053ab0492 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_8251a98dcd274a09ab91d294b7afaa2e.setIcon(custom_icon_90606cf7275b4f01ace2d55053ab0492);
            
    
        marker_8251a98dcd274a09ab91d294b7afaa2e.bindTooltip(
            `<div>`
            + `<b>Jesse Cote</b>, Ally<p>Daule, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_9e69a1de64404deeafbf690baee399c0 = L.marker(
            [-1.59263, -79.00098],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_fd648ffe9d004d61811083728a22b1b7 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_9e69a1de64404deeafbf690baee399c0.setIcon(custom_icon_fd648ffe9d004d61811083728a22b1b7);
            
    
        marker_9e69a1de64404deeafbf690baee399c0.bindTooltip(
            `<div>`
            + `<b>Emma Peel</b>, Ally<p>Guaranda, Bolivar</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_ea6788c70f554adc8fa783127de185cb = L.marker(
            [-2.19616, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_86d4b18217ed45888ea82a5d3de6181e = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_ea6788c70f554adc8fa783127de185cb.setIcon(custom_icon_86d4b18217ed45888ea82a5d3de6181e);
            
    
        marker_ea6788c70f554adc8fa783127de185cb.bindTooltip(
            `<div>`
            + `<b>Tatyana Ray</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8c0f6d41a895493292c16c0b04a6341a = L.marker(
            [-2.19616, -79.83621000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_809c320009284d1785129022ad82a345 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_8c0f6d41a895493292c16c0b04a6341a.setIcon(custom_icon_809c320009284d1785129022ad82a345);
            
    
        marker_8c0f6d41a895493292c16c0b04a6341a.bindTooltip(
            `<div>`
            + `<b>Claudia Sanabria</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_12a4bdd0098549e8aa911d5ac52a14fe = L.marker(
            [-2.19616, -79.93621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_14a556cc9bf4467eac1a08c854fe2821 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_12a4bdd0098549e8aa911d5ac52a14fe.setIcon(custom_icon_14a556cc9bf4467eac1a08c854fe2821);
            
    
        marker_12a4bdd0098549e8aa911d5ac52a14fe.bindTooltip(
            `<div>`
            + `<b>Monica Munoz</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_bac5efecfacc4d149504d72fd32304f3 = L.marker(
            [-2.14616, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_7a8465b0edf246b9ac371cf46c394ea5 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_bac5efecfacc4d149504d72fd32304f3.setIcon(custom_icon_7a8465b0edf246b9ac371cf46c394ea5);
            
    
        marker_bac5efecfacc4d149504d72fd32304f3.bindTooltip(
            `<div>`
            + `<b>Lindsey Treweek</b>, Ally<p>Guayaquil, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_a51a89e3d5ea4a39989287cf8fab496b = L.marker(
            [-2.2461599999999997, -79.88621],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_1e6dab08921c408cb4fcd52401ef9cc5 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_a51a89e3d5ea4a39989287cf8fab496b.setIcon(custom_icon_1e6dab08921c408cb4fcd52401ef9cc5);
            
    
        marker_a51a89e3d5ea4a39989287cf8fab496b.bindTooltip(
            `<div>`
            + `<b>Brenda Pereira</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8b38d4dd285047d0b45757257111808f = L.marker(
            [-2.2461599999999997, -79.83621000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_54236e6a5dd743578ccc1d767e74da42 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_8b38d4dd285047d0b45757257111808f.setIcon(custom_icon_54236e6a5dd743578ccc1d767e74da42);
            
    
        marker_8b38d4dd285047d0b45757257111808f.bindTooltip(
            `<div>`
            + `<b>Martha Aguirre</b>, Member<p>Guayaquil, Guayas</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_83ffd1b9283e44f6af60cb9a2ff6adff = L.marker(
            [-1.713775, -80.797806],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_e08909e23c4b4645b1ea3195d455bee2 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_83ffd1b9283e44f6af60cb9a2ff6adff.setIcon(custom_icon_e08909e23c4b4645b1ea3195d455bee2);
            
    
        marker_83ffd1b9283e44f6af60cb9a2ff6adff.bindTooltip(
            `<div>`
            + `<b>Jaquis Smith</b>, Member<p>Entrada, Santa Elena</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_50032735012b41be94e692e2dfcaf07b = L.marker(
            [-0.93521, -78.61554],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_a8e789fa983e4c07b4b20f46a3466f2e = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_50032735012b41be94e692e2dfcaf07b.setIcon(custom_icon_a8e789fa983e4c07b4b20f46a3466f2e);
            
    
        marker_50032735012b41be94e692e2dfcaf07b.bindTooltip(
            `<div>`
            + `<b>Jonathan Reyes</b>, Member<p>Latacunga, Cotopaxi</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_9013e2aee885460fb1a50cff62603b77 = L.marker(
            [-3.99313, -79.20422],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_a6d017be0a1840988a67f9d4c2e54266 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_9013e2aee885460fb1a50cff62603b77.setIcon(custom_icon_a6d017be0a1840988a67f9d4c2e54266);
            
    
        marker_9013e2aee885460fb1a50cff62603b77.bindTooltip(
            `<div>`
            + `<b>Amy Runkle</b>, Ally<p>Loja, Loja</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_547ed30c058949a98b22f9f6259469ad = L.marker(
            [-3.25861, -79.96053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_e2585cc83b8948b1afdb6ba71e766c59 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_547ed30c058949a98b22f9f6259469ad.setIcon(custom_icon_e2585cc83b8948b1afdb6ba71e766c59);
            
    
        marker_547ed30c058949a98b22f9f6259469ad.bindTooltip(
            `<div>`
            + `<b>Peter Amerkhanian</b>, Ally<p>Machala, El Oro</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_f224e64719494331bfd7ec92f360162d = L.marker(
            [-3.25861, -79.91053000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_83acb0d7b40d459aa8496e9c993693f9 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_f224e64719494331bfd7ec92f360162d.setIcon(custom_icon_83acb0d7b40d459aa8496e9c993693f9);
            
    
        marker_f224e64719494331bfd7ec92f360162d.bindTooltip(
            `<div>`
            + `<b>Arielle Hernandez</b>, Member<p>Machala, El Oro</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8830b5b60c9946e69524b1a535fbcaea = L.marker(
            [-3.25861, -80.01053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_54695a241bf24d53baf9bcfd67ef706f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_8830b5b60c9946e69524b1a535fbcaea.setIcon(custom_icon_54695a241bf24d53baf9bcfd67ef706f);
            
    
        marker_8830b5b60c9946e69524b1a535fbcaea.bindTooltip(
            `<div>`
            + `<b>Fernando Labastida</b>, Member<p>Machala, El Oro</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_fbd9244eac3f46cea868503ef6baaea4 = L.marker(
            [-3.20861, -79.96053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_9068b71396e644d3b371f42dae65a569 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_fbd9244eac3f46cea868503ef6baaea4.setIcon(custom_icon_9068b71396e644d3b371f42dae65a569);
            
    
        marker_fbd9244eac3f46cea868503ef6baaea4.bindTooltip(
            `<div>`
            + `<b>Jonathan Torres Rentas</b>, Member<p>Machala, El Oro</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_b05fc778ea594f24984644c4ce2f193f = L.marker(
            [-3.30861, -79.96053],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_5777c1fdf26a407b9507e391ddfe0c5c = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_b05fc778ea594f24984644c4ce2f193f.setIcon(custom_icon_5777c1fdf26a407b9507e391ddfe0c5c);
            
    
        marker_b05fc778ea594f24984644c4ce2f193f.bindTooltip(
            `<div>`
            + `<b>Brittany Rojas</b>, Member<p>Machala, El Oro</p><i>Omni: 115</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_f18d871ff1bd43d7ab6c11691611c67c = L.marker(
            [0.23457, -78.26248],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_f0e68b4f252346d0bc4e9cb8b27f43c8 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_f18d871ff1bd43d7ab6c11691611c67c.setIcon(custom_icon_f0e68b4f252346d0bc4e9cb8b27f43c8);
            
    
        marker_f18d871ff1bd43d7ab6c11691611c67c.bindTooltip(
            `<div>`
            + `<b>Yessenia Gonzalez</b>, Member<p>Otavalo, Imbabura</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4b1e340c62a140f7b49ac5d0d4acb0b2 = L.marker(
            [-1.55, -80.43333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_eb1ed036e18e4c8c8be99ba36befce1c = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_4b1e340c62a140f7b49ac5d0d4acb0b2.setIcon(custom_icon_eb1ed036e18e4c8c8be99ba36befce1c);
            
    
        marker_4b1e340c62a140f7b49ac5d0d4acb0b2.bindTooltip(
            `<div>`
            + `<b>Arielle Benjamin</b>, Member<p>Pajan, Manabi</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_23f19bbd8b4241aa9dc9a8122da32278 = L.marker(
            [-1.55, -80.38333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_7f1ac322e1934240a0c0cbfaacdbc33f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_23f19bbd8b4241aa9dc9a8122da32278.setIcon(custom_icon_7f1ac322e1934240a0c0cbfaacdbc33f);
            
    
        marker_23f19bbd8b4241aa9dc9a8122da32278.bindTooltip(
            `<div>`
            + `<b>Becky Sokolow</b>, Member<p>Paján, Manabí</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_055d63de3ff04fb29d690bb9cec6bc4e = L.marker(
            [-1.81563, -80.23309],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_a96103e1b4554557b5cbcc1803e56304 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_055d63de3ff04fb29d690bb9cec6bc4e.setIcon(custom_icon_a96103e1b4554557b5cbcc1803e56304);
            
    
        marker_055d63de3ff04fb29d690bb9cec6bc4e.bindTooltip(
            `<div>`
            + `<b>Juan Carlos Castañeda</b>, Member<p>Pedro Carbo, Guayas</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_17d58ee90f4f4b3cbfff8aa6c2853e58 = L.marker(
            [-1.55725, -80.74763],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_776c7c1b98f749c490db78f66c0e0ba2 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_17d58ee90f4f4b3cbfff8aa6c2853e58.setIcon(custom_icon_776c7c1b98f749c490db78f66c0e0ba2);
            
    
        marker_17d58ee90f4f4b3cbfff8aa6c2853e58.bindTooltip(
            `<div>`
            + `<b>Lobo Bucher</b>, Member<p>Puerto Lopez, Manabi</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_8cd3f6b95e6045108f2de0a3d595aabf = L.marker(
            [-1.55725, -80.69763],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_89af7d908d0942f88740c5cf78510ec7 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_8cd3f6b95e6045108f2de0a3d595aabf.setIcon(custom_icon_89af7d908d0942f88740c5cf78510ec7);
            
    
        marker_8cd3f6b95e6045108f2de0a3d595aabf.bindTooltip(
            `<div>`
            + `<b>Jon Ahn</b>, Member<p>Puerto Lopez, Manabi</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_53e53b20e9374bc6bb2a91713f73592a = L.marker(
            [-0.95759, -78.69636],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_e23f358c418a470c9f76132e11307ca5 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_53e53b20e9374bc6bb2a91713f73592a.setIcon(custom_icon_e23f358c418a470c9f76132e11307ca5);
            
    
        marker_53e53b20e9374bc6bb2a91713f73592a.bindTooltip(
            `<div>`
            + `<b>Melissa Ortiz</b>, Member<p>Pujili, Cotopaxi</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_c771f0f57c134e9a868edc5b1adfd627 = L.marker(
            [-1.48369, -78.00257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_512630bc36324a5284c8e863538631ff = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_c771f0f57c134e9a868edc5b1adfd627.setIcon(custom_icon_512630bc36324a5284c8e863538631ff);
            
    
        marker_c771f0f57c134e9a868edc5b1adfd627.bindTooltip(
            `<div>`
            + `<b>Paulina Prasad</b>, Member<p>Puyo, Pastaza</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_7f98079cb39d4dd687add3d71d739507 = L.marker(
            [-1.48369, -77.95257000000001],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_d6ec353c58694ca689871b38496c3738 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_7f98079cb39d4dd687add3d71d739507.setIcon(custom_icon_d6ec353c58694ca689871b38496c3738);
            
    
        marker_7f98079cb39d4dd687add3d71d739507.bindTooltip(
            `<div>`
            + `<b>Emily Gordon</b>, Member<p>Puyo, Pastaza</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_827bd76979fb48c1908ec512325da8e4 = L.marker(
            [-1.48369, -78.05257],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_99a0aa6c095744eb93eac7fc1c691073 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_827bd76979fb48c1908ec512325da8e4.setIcon(custom_icon_99a0aa6c095744eb93eac7fc1c691073);
            
    
        marker_827bd76979fb48c1908ec512325da8e4.bindTooltip(
            `<div>`
            + `<b>Eric Canales</b>, Ally<p>Puyo, Pastaza</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4c91ab3c4670465183437a62fc978406 = L.marker(
            [-1.30201, -78.21615],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_0c4e9df7c874442fb2cff00aa7ec017b = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_4c91ab3c4670465183437a62fc978406.setIcon(custom_icon_0c4e9df7c874442fb2cff00aa7ec017b);
            
    
        marker_4c91ab3c4670465183437a62fc978406.bindTooltip(
            `<div>`
            + `<b>Sam Archibald</b>, Ally<p>Rio Negro, Tungurahua</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_30ef8d36c5ec4d54b541700d7c61558b = L.marker(
            [-2.21452, -80.95151],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_e0a038c330094f8fbfb79025feb450b6 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_30ef8d36c5ec4d54b541700d7c61558b.setIcon(custom_icon_e0a038c330094f8fbfb79025feb450b6);
            
    
        marker_30ef8d36c5ec4d54b541700d7c61558b.bindTooltip(
            `<div>`
            + `<b>Dean Wang</b>, Member<p>Salinas, Santa Elena</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_6f163855dac04ff9acc6f420e983eacc = L.marker(
            [-1.68444, -79.02526],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_1862c595e2f34dca9b1cab2b8c41318e = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_6f163855dac04ff9acc6f420e983eacc.setIcon(custom_icon_1862c595e2f34dca9b1cab2b8c41318e);
            
    
        marker_6f163855dac04ff9acc6f420e983eacc.bindTooltip(
            `<div>`
            + `<b>Stephanie Fuentes</b>, Member<p>Chimbo, Bolivar</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_7ba85e007aec459596e9b24cd42c6ba8 = L.marker(
            [-2.08333, -80.58333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_0e2cc2fae3f04daaa3a118d784e3127f = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_7ba85e007aec459596e9b24cd42c6ba8.setIcon(custom_icon_0e2cc2fae3f04daaa3a118d784e3127f);
            
    
        marker_7ba85e007aec459596e9b24cd42c6ba8.bindTooltip(
            `<div>`
            + `<b>Jonny Ricci</b>, Ally<p>Santa Elena, Santa Elena</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_773fdd300332455eb7ffaed0ae427b6b = L.marker(
            [-3.44385, -80.00982],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_927ab6f1904f4690bed3a98ee76b76d9 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_773fdd300332455eb7ffaed0ae427b6b.setIcon(custom_icon_927ab6f1904f4690bed3a98ee76b76d9);
            
    
        marker_773fdd300332455eb7ffaed0ae427b6b.bindTooltip(
            `<div>`
            + `<b>Hannah Lussier</b>, Ally<p>Santa Rosa, El Oro</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_82f1ef7f79f14b1e82e76b8a4fedf0f0 = L.marker(
            [-0.25305, -79.17536],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_a532bf9521d0499692c489fbcda018b0 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_82f1ef7f79f14b1e82e76b8a4fedf0f0.setIcon(custom_icon_a532bf9521d0499692c489fbcda018b0);
            
    
        marker_82f1ef7f79f14b1e82e76b8a4fedf0f0.bindTooltip(
            `<div>`
            + `<b>Donald Blair</b>, Member<p>Santo Domingo, Santo Domingo</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_bd3614ac9084470090806b2fa9eb773c = L.marker(
            [-0.25305, -79.12536],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_dbbfc625dcc84dc8b3e35d34ed1cadf7 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_bd3614ac9084470090806b2fa9eb773c.setIcon(custom_icon_dbbfc625dcc84dc8b3e35d34ed1cadf7);
            
    
        marker_bd3614ac9084470090806b2fa9eb773c.bindTooltip(
            `<div>`
            + `<b>Laura Contreras</b>, Member<p>Santo Domingo, Santo Domingo</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_a9531f8ecdf74dc1a8df9c5d8e29f835 = L.marker(
            [-0.28703, -78.48132],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_f7b85ce0f21f4f30a64de373a2ce2bf7 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_a9531f8ecdf74dc1a8df9c5d8e29f835.setIcon(custom_icon_f7b85ce0f21f4f30a64de373a2ce2bf7);
            
    
        marker_a9531f8ecdf74dc1a8df9c5d8e29f835.bindTooltip(
            `<div>`
            + `<b>Imhotep Simba</b>, Member<p>Conocoto, Pichincha</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_fc8b23a493404c10b68c6b3d3e150967 = L.marker(
            [-0.23065, -78.4484],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_79ef6d6d1d4f4a10b90405ed7d3d4ea6 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/white-heart-suit_2661.png',
                    iconSize: [28,28],
                    

                    
                    
                    

                    
                    });
                marker_fc8b23a493404c10b68c6b3d3e150967.setIcon(custom_icon_79ef6d6d1d4f4a10b90405ed7d3d4ea6);
            
    
        marker_fc8b23a493404c10b68c6b3d3e150967.bindTooltip(
            `<div>`
            + `<b>Meg Hunter</b>, Ally<p>Lumbisí, Pichincha</p><i>Omni: 120</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_87b3894ff95140ff8555a022337d3bc0 = L.marker(
            [-0.22985, -78.52495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_17106c92457c4caa810565424729475b = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_87b3894ff95140ff8555a022337d3bc0.setIcon(custom_icon_17106c92457c4caa810565424729475b);
            
    
        marker_87b3894ff95140ff8555a022337d3bc0.bindTooltip(
            `<div>`
            + `<b>Samantha Nordstedt</b>, Member<p>Quito, Pichincha</p><i>Omni: 119</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_4242b270fb6a42cda96d6407292bd2e3 = L.marker(
            [-0.22985, -78.47495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_cbf0e736d4bc477f8094058eec7d5573 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_4242b270fb6a42cda96d6407292bd2e3.setIcon(custom_icon_cbf0e736d4bc477f8094058eec7d5573);
            
    
        marker_4242b270fb6a42cda96d6407292bd2e3.bindTooltip(
            `<div>`
            + `<b>Alejandra Garcia</b>, Member<p>Quito, Pichincha</p><i>Omni: 118</i>` + `</div>`,
            {"sticky": true}
        );
        
    
        var marker_e4c8a58f3113427b8b1d900a19d439df = L.marker(
            [-0.22985, -78.57495],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_2d2ee3c21d4b44b095c9173b7949c2b2);
        
    

                var custom_icon_3ff043766bab49b88a13d2736bdbcc60 = L.icon({
                    iconUrl: 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/153/rose_1f339.png',
                    iconSize: [38,38],
                    

                    
                    
                    

                    
                    });
                marker_e4c8a58f3113427b8b1d900a19d439df.setIcon(custom_icon_3ff043766bab49b88a13d2736bdbcc60);
            
    
        marker_e4c8a58f3113427b8b1d900a19d439df.bindTooltip(
            `<div>`
            + `<b>Claudia Castañeda</b>, Member<p>Quito, Pichincha</p><i>Omni: 121</i>` + `</div>`,
            {"sticky": true}
        );
        
</script>