{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock style %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i></a>
            <a class="nav-link active" href="{{ url_for('maps') }}">GFX</a>
            <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
            <a class="nav-link" href="{{ url_for('agenda') }}">Agenda</a>
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<main role="main" class="inner cover mt-3">
    <h3 class="cover-heading"><b>Who's coming to F.R.E.E.?</b></h3>
    <nav class="nav justify-content-center">
            <a class="nav-link" href="{{ url_for('maps') }}"><i class="fas fa-map-marked-alt"></i></a>
            <a class="nav-link" href="{{ url_for('omni') }}">Omnis</a>
            <a class="nav-link disabled" href="{{ url_for('region') }}">Regions</a>
        </nav>
            <hr class="my-4">

    <div class="container" width="auto" style="max-width:550px">
        <embed type="image/svg+xml" src="{{url_for('static', filename='pie_demography.svg')}}">
    </div>
</main>
{% endblock content %}