{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock style %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('maps') }}">Map</a>
            <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
            <a class="nav-link" href="{{ url_for('agenda') }}">Agenda</a>
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<main role="main" class="inner cover">
    <h2 class="cover-heading"><b>FREE July '19</b></h2>

    <div class="container mt-2">
        <div class="row no-gutters">
            <div class="col">
                <p class="text-right"><b>SITE </b></p>
            </div>
            <b class="mr-1 ml-1">|</b>
            <div class="col">
                <p class="text-left"> Quito <i class="fas fa-city"></i></p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <p class="text-right"><b>DATE </b></p>
            </div>
            <b class="mr-1 ml-1">|</b>
            <div class="col">
                <p class="text-left"> 7/19 - 7/21 <i class="fas fa-hourglass-half"></i></p>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <b>YOUR FACILITATORS<br/></b>
        <div class="row align-items-center justify-content-center mb-2">
            <a target="_blank" href="{{ url_for('myspace_arielle') }}">
                Arielle Hernandez<br/>
                <img src="{{url_for('static', filename='merperson_emoji-mermaid.png')}}" width="50"/></a>
        </div>
        <div class="row align-items-center justify-content-center">
            <a target="_blank" href="{{ url_for('myspace_stephanie') }}">
                Stephanie Fuentes<br/>
                <img src="{{url_for('static', filename='fairy_emoji-fairy.png')}}" width="45"/></a>
        </div>
    </div>
    <div class="container mt-3">
        <a target="_blank" href="https://www.facebook.com/groups/404969296191808/permalink/2330444106977641/"
           class="btn btn-secondary mt-2">RSVP on <i class="fab fa-facebook"></i></a>
        <a href="{{ url_for('contact_page') }}" class="btn btn-secondary mt-2">Contact us <i
                class="far fa-envelope"></i></a>
    </div>
    <div class="container mt-2">
        <a href="{{ url_for('materials') }}" class="btn btn-lg btn-secondary">Get the Book <i
                class="fas fa-book"></i></i></a>
    </div>
</main>
{% endblock content %}