<!-- 119 - 570-->
<!-- 118 - 585-->
<!-- 121 - 80-->
<!-- 120 - 110-->
{% extends "layout.html" %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock style %}
{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i></a>
            <a class="nav-link" href="{{ url_for('maps') }}">Map</a>
            <a class="nav-link" href="{{ url_for('materials') }}">Materials</a>
            <a class="nav-link" href="{{ url_for('agenda') }}">Agenda</a>
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<main role="main">

    <!--<figure>-->
      <!--<embed type="image/svg+xml" src="{{url_for('static', filename='pie_chart.svg')}}">-->
    <!--</figure>-->
    <figure>
      <embed type="image/svg+xml" src="{{url_for('static', filename='chart_bar.svg')}}">
    </figure>
</main>
{% endblock content %}